<script
			  src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
{% load card_custom_filters %}
The most discussed cards are currently:<br>
<ul>
  {% for card in top_cards %}
      <li><a href="/cards/named/{{ card.name|fix_name }}/">{{ card.name }} {{ card.chatter_count }}<a/></li>
  {% endfor %}
</ul>
And in the last 7 days:(soon)<br>
<ul>
  {% for card in top_cards7 %}
      <li><a href="/cards/named/{{ card.name|fix_name }}/">{{ card.name }} {{ card.chatter_count }}<a/></li>
  {% endfor %}
</ul>
<div id="container" style="width:100%; height:400px;"></div>
<script>
$(function () {
    var card1 = {{ top_cards[0].name }}
    var myChart = Highcharts.chart('container', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Fruit Consumption'
        },
        xAxis: {
            categories: [card1, 'Bananas', 'Oranges']
        },
        yAxis: {
            title: {
                text: 'Fruit eaten'
            }
        },
        series: [{
            name: 'Jane',
            data: [1, 0, 4]
        }, {
            name: 'John',
            data: [5, 7, 3]
        }]
    });
});
</script>
