<script
			  src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
{% load card_custom_filters %}
The most discussed cards are currently:<br>
<ul>
  {% for card in top_cards %}
      <li><a href="/cards/named/{{ card.name|fix_name }}/">{{ card.name }} {{ card.chatter_count }}<a/></li>
  {% endfor %}
</ul>
<div id="container" style="width:75%; height:800px;"></div>
<script>
$(function () {
    var myChart = Highcharts.chart('container', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Most Popular Cards (placeholder data)'
        },
        xAxis: {
            categories: ['Torch', 'Sandstorm Titan', 'Some Other Card']
        },
        yAxis: {
            title: {
                text: 'Posts'
            }
        },
        series: [{
            name: 'Reddit',
            data: [1, 0, 4]
        }, {
            name: 'Twitter',
            data: [5, 7, 3]
        }]
    });
});
</script>
